{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{% block title_page %}{% endblock title_page %}</title>

<link rel="stylesheet" href="{% static "vendor/bootstrap/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/semantic/components/reset.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/semantic/components/site.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/semantic/components/input.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/semantic/components/dropdown.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/semantic/components/icon.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/semantic/components/transition.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/jconfirm/jquery-confirm.css" %}">
<link rel="stylesheet" href="{% static "vendor/select2/select2.min.css" %}">
<link rel="stylesheet" href="{% static "vendor/select2/select2-bootstrap5.css" %}">


<link rel="stylesheet" href="{% static "css/style.css" %}">

<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "vendor/semantic/components/transition.min.js" %}"></script>
<script src="{% static "vendor/semantic/components/dropdown.min.js" %}"></script>
<script src="{% static "vendor/bootstrap/bootstrap.js" %}"></script>
<script src="{% static "vendor/jconfirm/jquery-confirm.js" %}"></script>
<script src="{% static "vendor/select2/select2.full.min.js" %}"></script>

<script src="{% static "js/script.js" %}"></script>